@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    src: url('fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}